[Unit]
Description=UraxLaw XYJ Ollama Service
After=network.target

[Service]
Type=simple
User=netman
# Memory settings
MemoryHigh=8G
MemoryMax=12G
WorkingDirectory=/home/netman/uraxlaw-xyj
ExecStart=/home/netman/uraxlaw-xyj/uraxlaw-api
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
